<nav class="navbar navbar-toggler navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <div class="container">
        <a class="navbar-brand" href="/">SuperGiros</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="ml-auto" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <!-- <a class="nav-link" href="/games">Juegos</a> -->
              <a class="nav-link" routerLink="/articulos" routerLinkActive="active"><i class="fas fa-folder-open"></i>Articulos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/articulos/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i>Agregar Articulos</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>



  