<!-- game almacena cada juego obtenido de games  -->
<div class="col-md-4">
    <div class="Row">
        <div class="Title">Articulos</div>
            <div class="Heading bg-dark text-white justify-content-between align-items-center">
                <div class="Cell">
                    <p>Nombre</p>
                </div>
                <div class="Cell">
                    <p>Activo Fijo</p>
                </div>
                <div class="Cell">
                    <p>Serie</p>
                </div>
                <div class="Cell">
                    <p>Eliminar</p>
                </div>
                <div class="Cell">
                    <p>Editar</p>
                </div>
            </div> 
            <div class="Row" *ngFor="let articulo of articulos">
                <!-- <div class="Cell">
                    <img [src]="articulo.imagen" class="card-img-top" alt="">
                </div> -->
                <div class="Cell">
                    <p>{{articulo.nombre}}</p>
                </div>
                <div class="Cell">
                    <p>{{articulo.AF}}</p>
                </div>
                <div class="Cell">
                    <p>{{articulo.serie}}</p>
                </div>
                <div class="Cell" style="background-color:  rgb(145, 58, 58);">
                    <button class="cell btn btn-danger" (click)="deleteArticulo(articulo.id_articulo)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </div>
                <div class="Cell" style="background-color: rgb(109, 153, 173);">
                    <a [routerLink]="['/articulos/edit/',articulo.id_articulo]" class="fas fa-edit">Editar</a>
                </div>
            </div>        
    </div>
</div>
